<div class="mypage-edit">
	<h1>登録情報変更</h1>
	<div class="withdrawal-button">
		<%= link_to "退会する", users_users_unsubscribe_path, :style => "text-decoration:none; color:white;" %>
	</div>
	<div class="mypage-edit-box">
		<%= form_for @user, url:users_user_path(@user.id), method: :patch do |f| %>
		<div class="mypage-edit-box-item">
			<%= f.label :MAME, "NAME" %>
			<%= f.text_field :name %><br>
		</div>
		<div class="mypage-edit-box-item-2">
			<%= f.label :EMAIL, "EMAIL" %>
			<%= f.text_field :email %><br>
		</div>
	</div>
	<%= f.submit "編集内容を保存する", class: "radius-pixel-30" %>
	<% end %>
</div>