<div class="mypage">
	<h1>My Page</h1>
	<div class="mypage-button">
		<%= link_to "登録情報変更",edit_users_user_path,:style => "margin:20px; text-decoration:none; color:white;" %>
	</div><br>
	<h2>登録情報</h2>
	<div class="mypage-box">
		<p><%= label :MAME, "NAME" %></p>
		<p><%= @user.name %></p>

		<p><%= label :EMAIL, "EMAIL" %></p>
		<p><%= @user.email %></p>
	</div>
	<div class="mypage-button-2">
		<%= link_to "パスワードを変更する",edit_user_registration_path,:style => " text-decoration:none; color:white;" %>
	</div>
</div>