<div class="signin-box">
  <div class="box-inner">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <h2>アカウントを作成</h2>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class= "box-name">
      <%= f.label :name, "お名前" %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="box-email">
      <%= f.label :email, "Eメール" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="box-password">
      <div class= "a-row">
        <div class= "column-left">
          <%= f.label :password, "パスワード" %>
          <% if @minimum_password_length %>
          <em>(最低<%= @minimum_password_length %> 文字以上です。)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      </div>
    </div>

    <div class="box-password">
      <div class="a-row">
        <div class="column-left">
          <%= f.label :password_confirmation, "パスワード確認" %><br />
        </div>
      </div>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="box-signin">
      <%= f.submit "新規登録" %>
      <div class="legal-text">
        続行することで、OXYMORONの
        <%= link_to "利用規約", "#" %>
        および
        <%= link_to "プライバシー規約", "#" %>
        に同意するものとみなされます。
      </div>
    </div>
    <% end %>
    <div class="box-newusr">
      <p><span>------</span> 既にアカウントをお持ちの方はこちら <span>------</span></p>

      <%= link_to "ログイン", new_user_session_path %>
    </div>
  </div>
</div>